@media (max-width: 250px) {
    .connectBtns {
    width: 150px;
    height: 50px;
    padding: 0px 12px;
    font-size: 20px;
    }
    #count {
        font-size: 30px;
    }
    #minusBtn, #plusBtn {
        width: 27px;
        height: 27px;
    }
    #resetBtn {
    width: 170px;
    height: 50px;
    font-size: 16px;
    margin-top: 35px;
    }
}

@media (max-width: 200px) {
    .connectBtns {
        width: 120px;
        height: 40px;
        padding: 0px 10px;
        font-size: 18px;
    }
    #count {
        font-size: 24px;
    }
    #minusBtn, #plusBtn {
        width: 25px;
        height: 25px;
    }
    #resetBtn {
        width: 135px;
        height: 40px;
        font-size: 14px;
        margin-top: 30px;
        }
} 

@media (max-width: 160px) {
    .connectBtns {
        width: 80px;
        height: 30px;
        padding: 0px 8px;
        font-size: 16px;
    }
    #count {
        font-size: 20px;
    }
    #minusBtn, #plusBtn {
        width: 20px;
        height: 20px;
    }
    #resetBtn {
        width: 95px;
        height: 30px;
        font-size: 8px;
        margin-top: 14px;
        }
} 